.btn-ovalgreen {
  display: inline-block;
  padding: 16px 36px;
  border-radius: 50px;
  background-color: #1EDD88;
  color: white;
}

.btn-ovalgreen a {
  text-decoration: none;
}

.btn-ovalgreen:hover {
  scale: 1.5;
  transition: all 0.4s;
}
